/* remove all decoration caused by mouse, links, etc. */

[class^="icon-"]:visited,[class^="icon-"]:hover, [class^="icon-"]:active, a, a:link, a:visited, a:hover, a:active{
  color: red;
  text-decoration: none;
}


/* generics */
body {
  background-color: #f1e4da;
  text-align: center;
}

a:active {
    /*background-color: yellow;*/
}

li  {
  color: black;
}

ul {padding: 5px;}


main footer {
  background-color: #8e9091;
  margin: auto;
  position: absolute;
}

aside {
  position: absolute;
  padding: 20px;
}

iframe {height: 480px;}

/* background */
.bg-transparent {
  background-color: transparent;
}
.bg-dark {
  background-color: rgba(0,0,0,.85);
}
.shadow {
  box-shadow: 2px 0px 20px  rgba(256,256,256,.6), 2px 0px 20px  rgba(6, 14, 62, 0.79);
}

/*aside */
.aside-box {
  padding-top: 10px;
  padding-bottom: 15px;
  margin: 25px auto;
  max-width: 350px;
}

.aside-box img{
  max-width: 200px;
}

.follow-box .aside-box-text p {
  text-align: left;
  color:blue;
  height: 200px;
  overflow: auto;
  margin: 10px auto;
  padding: 10px;
}

.aside > input.form-control {
  margin: 10px;
}

.aside-box > img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border:black solid 1px;
}

.aside-txt {
  height: auto;
  top: 50px;
  background-color:#e8e8e8;
  border-radius: 5px;
  opacity: 1;
}

.follow-box {
  font-size: 1.5em;
}

.follow-box a span {
  background-color: #777;
  color: #060e3e;
  border: 4px #777 solid;
  border-radius: 50%;
  margin-top: 20px;
}

.gallery-photo img{
  max-width: 90%;
  border: 4px groove darkgray;
  margin: 10px;
}

/* navigation */
.navbar-toggle {
  float: left;
  margin-left: 20px;
}
.tag-rule {
  display: inline-block;
  width: 10%;
  border-color: #ffa100;
  color:#211757;
}
.tagline > span{
  padding: 0;
  margin-top: 0;
}
.navbar {
  background-color: transparent;
  border-style: none;
}
ul.nav {

  float: none;
  margin: 0 auto;
  width: 575px;;
}

.navbar-default {margin-top: 10px;}
.navbar-default .navbar-nav > li > a:hover {
  background-color: #100C26;
  opacity: .75;
  border-radius: 10px;
  color: antiquewhite;
}
.navbar-default .navbar-nav > li > a:focus {
  color: #fff;
  background-color: #000;
}

.dropdown-menu {
  background-color: #100C26;
  opacity: .75;
  border-radius: 10px;
}

.centered{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.dropdown-menu li a {
  color: antiquewhite;
}

/*carousel*/
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  max-width: 95%;
  margin: auto;
  border:lightgrey ridge 5px;

}
#myCarousel {height: 350px; border: lightgrey ridge 5px;}
.item { height: 350px; }
/* center item in carousel */
.item img {
  max-height: 90%;
  max-width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.carousel-indicators {
bottom: -1px;
}
.carousel-indicators li {

    border-color: black;
}
.carousel-indicators .active {

    background-color: lightgrey;
}

.grey-border {
     border:lightgrey double 5px;
}

/* colored double hr like lines on aside element */
.strike {
  display: block;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  padding-bottom: 25px;
}
.strike > span {
  position: relative;
  /* border: double darkred 2px; */
  padding: 0 10px;
  border-radius: 5px;
}
.strike > span:before,
.strike > span:after {
  content: "";
  position: absolute;
  top: 50%;
  width: 50px;
  border-top: 4px double darkred;
}
.strike > span:before {
  right: 100%;
  margin-right: 15px;
}
.strike > span:after {
  left: 100%;
  margin-left: 15px;
}


/*layout*/
.top-box img {
  width: 90%;
  height: 150px;
  border: black 1px solid;
}

.top-box, .main-element {
  padding: 10px;
  margin: 5px 0;
}
.top-box {
  position: relative;
  text-align: center;
  color: black;
  font-size: large;
  font-weight: bold;
}
.top-box span{
  border: black 1px solid;
  padding: 10px;
  border-radius: 5px;
}
.top-box span:hover{
  background-color: aliceblue;
}

.top-box a {
  color: #000;
}

.color-book-image {
  min-width: 50%;
  max-width: 60%;
  margin: 10px;
}

.price-tag{
  text-align: center;
  position: fixed;
  right: 44%;
}
.main-icons {
  margin-bottom: 10px;
}
.mid-plates {
  font-size: 1.5em;
  margin-top: 20px;
}
.main-top img {max-width: 100%; max-height: 100%;}
 iframe {width: 100%;}
.main-mid {background-color:#e8e8e8;}
.main-mid button {
  background-color: #fff;
  margin: auto;
  border: #13d902 2px groove;
  color: #13d902;
}

.main-text p:first-child {
  font-weight: bold;
}

.btn-inverse {
  color: #fff;
  background-color:  #13d902;
}
.btn-group {
  text-align: center;
  margin: 10px;
}
span.bullet {
  font-size: 2em;
  line-height: 1em;
  color: #13d902;
  display: inline-block;
  vertical-align: middle;
}

.date-box {
  position: relative;
  top: 15px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 10px;
  border: #b4aeb0 solid 1px;
  color: #000;
  padding: 5px;
}

.arrow-box{
  margin: 10px;
  position: relative;
  background-color: #0c07e9;
  width:150px;
}

.arrow-box-arrow {
  padding-right:2px;
  font-size: 1.5em;
  margin-top: 4px;
  padding-left: 5px;

}
.arrow-box-text {
  background-color: #fff;
  float: left;
  padding: 5px;
}

.arrow-box-text p {
  float: right;
  margin: 0;
}

/* submit and footer */

.to-top, .inputs{
  margin-top: 5px;
}

.to-top span{
  font-size: 5em;
}

.instagram-btn {
  margin: 100px 0;
}

.name-img img{
  max-width: 100%;
}

.icon-circle-up {
  display: none;
  position: fixed;
  bottom: 30px;
  right: 10px;
}

.post-navigator { color:#fff;}

/*media quieries*/

@media (max-width: 992px) {


  .navbar-default .navbar-collapse {border-style: none;}

  aside, date, .arrow-box, .navbar-nav .icon-search {
    display: none;
    overflow: hidden;

  }
  .main-text  {
    height: 200px;
    overflow: scroll;
  }

  .navbar {margin-left: inherit;}
  .navbar-default {padding-top: 0;}
  ul.nav {width:auto;}
  .tag-rule {width:20%;}

  main footer {
    background-color: transparent;
  }
  iframe{
    max-height: 350px;
  }

  p {
    font-size: 1.5em;
  }

  .badge img {
    display: none;
  }
}


/* icons */
@font-face {
  /*font-family: IcoMoon;*/
  src:url(icomoon\fonts\icomoon.ttf);
}

.icon-search{
  font-size: 1.5em;
  /*float: right;*/
  padding-top: 10px;
}
div.icons { margin: 15px 0 0 0; }
.icon-circle-up {
  font-size: 10em;
}
.icons a {  color: #444444;}
.no-background {background-color: transparent;}

/* Ken Burns effect */
/* Fade transition for carousel items */
